<footer class="footer footer-dark" th:fragment="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Về Chúng Tôi</h4>
                    <p>Chúng tôi cung cấp các sản phẩm thời trang chất lượng với mức giá hợp lý, phù hợp với nhu cầu của khách hàng.</p>
                </div><!-- End .col-md-4 -->
                
                <div class="col-md-4">
                    <h4>Theo Dõi Chúng Tôi</h4>
                    <div class="social-icons">
		                <a  class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
		                <a  class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
		                <a  class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
		                <a  class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
		            </div><!-- End .social-icons -->
                </div><!-- End .col-md-4 -->
                <div class="row mt-4">
	                <div class="col-md-12">
	                    <h4>Địa Chỉ</h4>
	                    <p>123 Đường A, Phường X, Quận Y, Thành phố Z</p>
	                    <p>Điện thoại: (+84) 123 456 789</p>
	                    <p>Email: support@thoitrangmolla.com</p>
	                </div><!-- End .col-md-12 -->
	            </div><!-- End .row -->
            </div><!-- End .row -->
            
        </div><!-- End .container -->
    </div><!-- End .footer-top -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">© 2024 Thời Trang Moola. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img th:src="@{/fontend/images/payments.png}" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->

