<header class="header" th:fragment="header">
	<div class="header-top">
		<div class="container">
			<div class="header-left"></div>
			<!-- End .header-left -->
			<div class="header-right">
				<ul class="top-menu">
					<li><a href="#">Links</a>
						<ul>
							<li><a href="tel:#"><i class="icon-phone"></i>Call:
									+0123 456 789</a></li>
							<li><a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
									<i class="icon-user"></i>Logout
								</a>
								<form id="logoutForm" th:action="@{/logout}" method="post"
									style="display: none;">
									
								</form>
							</li>
						</ul>
					</li>
				</ul>
				<!-- End .top-menu -->
			</div>
			<!-- End .header-right -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .header-top -->

	<div class="header-middle sticky-header">
		<div class="container">
			<div class="header-left">
				<button class="mobile-menu-toggler">
					<span class="sr-only">Toggle mobile menu</span> <i
						class="icon-bars"></i>
				</button>

				<a th:href="@{/home}" class="logo"> <img
					th:src="@{/fontend/images/demos/demo-10/logo.png}" alt="Molla Logo"
					style="max-width: 105px; height: auto;">
				</a>
				<nav class="main-nav">
					<ul class="menu sf-arrows">
						<li ><a th:href="@{/home}">Home</a>
						</li>
						<li><a th:href="@{/home/products}">Product</a></li>
						<li><a th:href="@{/home/orders}" >Order</a></li>
						<li><a  class="sf-with-ul">Profile</a>
							<ul>
								<li><a th:href="@{/home/dashboard}">View Profile</a></li>
								
								<li><a th:href="@{/home/wish-list}">WishList</a></li>
							</ul>
						</li>
					</ul>
					<!-- End .menu -->
				</nav>
				<!-- End .main-nav -->
			</div>
			<!-- End .header-left -->

			<div class="header-right">
				<div class="header-search"
					style="display: flex; align-items: center;">
					<form th:action="@{/home/products}" method="get"
						style="display: flex; align-items: center;">
						<div class="header-search-wrapper"
							style="display: flex; align-items: center;">
							<label for="q" class="sr-only">Search</label> <input
								type="search" class="form-control" name="keywordP" id="q"
								placeholder="Search in..."
								style="margin-right: 0; height: 38px; flex: 1;"
								th:value="${keywordP}">
							<button type="submit" class="btn btn-default"
								style="border: none; background: none; cursor: pointer; height: 38px; display: flex; align-items: center; padding: 0 10px;">
								<i class="icon-search" style="font-size: 25px;"></i>
							</button>
						</div>
						<!-- End .header-search-wrapper -->
					</form>
				</div>
				<!-- End .header-search -->

				<div class="dropdown cart-dropdown">
				    <a th:href="@{/home/cart}" class="dropdown-toggle" role="button"
				       aria-haspopup="true" aria-expanded="false"
				       data-display="static">
				        <i class="icon-shopping-cart"></i> 
				        <!-- Hiển thị số lượng sản phẩm trong giỏ -->
				        
				    </a>
				</div>
				<!-- End .cart-dropdown -->
			</div>
			<!-- End .header-right -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .header-middle -->
</header>
<!-- End .header -->
