<div th:fragment="script">
<!-- Plugins JS File -->
    <script th:src="@{/fontend/js/jquery.min.js}"></script>
    <script th:src="@{/fontend/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/fontend/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/fontend/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/fontend/js/superfish.min.js}"></script>
    <script th:src="@{/fontend/js/owl.carousel.min.js}"></script>
    <script th:src="@{/fontend/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/fontend/js/jquery.plugin.min.js}"></script>
    <script th:src="@{/fontend/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/fontend/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/fontend/js/main.js}"></script>
    <script th:src="@{/fontend/js/demos/demo-10.js}"></script>
    <script th:src="@{/fontend/js/nouislider.min.js}"></script>
    <script th:src="@{/fontend/js/wNumb.js}"></script>
</div>