<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="admin/fragments/head :: head">

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<div class="col-md-6">
				<section class="content">
					<div class="box box-primary">
						<form role="form" method="post" th:action="@{/admin/product-edit}" th:object="${product}" enctype="multipart/form-data">
							<input type="hidden" class="form-control" id="exampleInputEmail1" th:field="*{id}">
							<input type="hidden" class="form-control" id="exampleInputEmail1" th:field="*{image}">
							<div class="box-body">
								<div class="form-group">
									<label for="exampleInputEmail1"> Product Name</label> 
									<input type="text" class="form-control" id="exampleInputEmail1" th:field="*{productName}">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1"> Price</label> 
									<input type="text" class="form-control" id="exampleInputEmail1" th:field="*{price}">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1"> Color</label> 
									<input type="text" class="form-control" id="exampleInputEmail1" th:field="*{color}">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1"> Image</label> 
									<input type="file" class="form-control" id="fileImage" name="fileImage" onchange="previewImage(event)">
									<img id="previewImage" th:src="@{'/uploads/' + ${product.image}}" width="150px" alt="User Image">
								</div>
								<div class="form-group">
									<div class="form-group" data-select2-id="13">
										<label> Category</label> 
											<select class="form-control select2 select2-hidden-aseccessible" style="width: 100%;"
											th:field="*{category.id}">
												<option th:each="category : ${listCate}" 
														th:value="${category.id}" 
														th:text="${category.categoryName}"></option>
											</select>	
									</div>
								</div>	
								<!-- Product Sizes -->
								<div class="form-group">
									<label for="sizes">Sizes</label>
									<div th:each="size : ${listSizes}" style="display: inline-block; margin-right: 15px;">
										<div class="checkbox">
											<label> <input type="checkbox" name="sizeIds"
												th:value="${size.id}" th:checked="${product.sizes.contains(size)}"> <span
												th:text="${size.name}"></span> <!-- hiển thị tên kích thước -->
											</label>
										</div>
									</div>
								</div>
									
								<div class="form-group">
									<label for="exampleInputEmail1"> Content</label> 
									<input type="text" class="form-control" id="exampleInputEmail1" th:field="*{content}">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Product Status</label>
									<div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												id="inlineRadio1" th:field="*{isActive}"
												th:checked="${product.isActive == 1}" th:value="1"
												name="isActive"> <label
												class="form-check-label" for="inlineRadio1">Active</label>
										</div>

										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												id="inlineRadio2" th:field="*{isActive}"
												th:checked="${product.isActive == 0}" th:value="0"
												name="isActive"> <label
												class="form-check-label" for="inlineRadio2">Hidden</label>
										</div>
									</div>
								</div>		
								<div class="form-group">
									<label for="exampleInputEmail1"> Description</label>
									<textarea name="editor1" id="editor1" rows="10" cols="80" th:field="*{description}">
						                Thêm thông tin sản phẩm.
						            </textarea>						            	
								</div>
							</div>							
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
					</div>
				</section>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="admin/fragments/footer :: footer"></div>
	</div>
	<!-- ./wrapper -->
	<!-- jQuery 3 -->
	<div th:replace="admin/fragments/script :: script"></div>
	<script th:src="@{//cdn.ckeditor.com/4.22.1/standard/ckeditor.js}"></script>
	<script>
			CKEDITOR.replace( 'editor1' );
	</script>
	<script>
		document.getElementById('fileImage').addEventListener('change', function(event) {
	        previewImage(event);
	    });
	
	    function previewImage(event) {
	        var input = event.target;
	        var reader = new FileReader();
	        reader.onload = function(){
	            var dataURL = reader.result;
	            var output = document.getElementById('previewImage');
	            output.src = dataURL;
	        };
	        reader.readAsDataURL(input.files[0]);
	    }
	</script>
	
</body>
</html>
