<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/fragments/head :: head"></head>
<body>
    <div class="page-wrapper">
        <header th:replace="layout/fragments/header :: header"></header>
        <main class="main">
            <div class="container">
                <div class="intro-slider-container slider-container-ratio mb-2">
                    <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="fontend/images/demos/demo-10/slider/slide-1-480w.jpg">
                                    <img th:src="@{fontend/images/demos/demo-10/slider/anh-bia-thoi-trang (21).jpg}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Women & Model</h1><!-- End .intro-title -->

                                <a th:href="@{/home/products}" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="fontend/images/demos/demo-10/slider/slide-2-480w.jpg">
                                    <img th:src="@{fontend/images/demos/demo-10/slider/anhbia2.jpg}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">Trending Now</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">This Week's Most Wanted</h1><!-- End .intro-title -->

                                <a th:href="@{/home/products}" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="fontend/images/demos/demo-10/slider/slide-3-480w.jpg">
                                    <img th:src="@{fontend/images/demos/demo-10/slider/anhbia3.jpg}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle text-white">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Can’t-miss Clearance:</h1><!-- End .intro-title -->
                                <a th:href="@{/home/products}" class="btn btn-white-primary btn-round">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                    </div><!-- End .intro-slider owl-carousel owl-simple -->
                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .container -->

            <div class="banner-group">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="banner banner-overlay">
                                        <a >
                                            <img th:src="@{fontend/images/demos/demo-10/banners/anhphu1.png}" alt="Banner">
                                        </a>

                                        <div class="banner-content banner-content-right">                                          
                                            <h3 class="banner-title text-white"><a href="#">Sneakers & <br>Athletic Shoes</a></h3><!-- End .banner-title -->
                                            <a th:href="@{/home/products}" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="banner banner-overlay banner-overlay-light">
                                        <a >
                                            <img th:src="@{fontend/images/demos/demo-10/banners/anhphu5.webp}" alt="Banner">
                                        </a>

                                        <div class="banner-content">
                                            <h4 class="banner-subtitle bright-black"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                                            <h3 class="banner-title"><a th:href="@{/home/products}">Sandals</a></h3><!-- End .banner-title -->
                                            
                                            <a th:href="@{/home/products}" class="btn btn-outline-gray banner-link btn-round">Shop Now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="banner banner-large banner-overlay d-none d-sm-block">
                                <a >
                                    <img th:src="@{fontend/images/demos/demo-10/banners/banner-3.jpg}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    
                                    <h3 class="banner-title text-white"><a href="#">Slip-On Loafers</a></h3><!-- End .banner-title -->
                                    <div class="banner-text text-white"><a href="#">Sales up to 30% off</a></div><!-- End .banner-text -->
                                    <a th:href="@{/home/products}" class="btn btn-outline-white banner-link btn-round">Buy Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4 d-sm-none d-lg-block">
                            <div class="banner banner-middle banner-overlay">
                                <a href="#">
                                    <img th:src="@{fontend/images/demos/demo-10/banners/banner-4.jpg}" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-bottom">
                                    <h3 class="banner-title text-white"><a href="#">Amazing <br>Lace Up Boots</a></h3><!-- End .banner-title -->
                                    <div class="banner-text text-white"><a href="#">from $39.00</a></div><!-- End .banner-text -->
                                    <a th:href="@{/home/products}" class="btn btn-outline-white banner-link btn-round">Buy Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .banner-group -->

            <div class="icon-boxes-container icon-boxes-separator bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                        
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">ON SALE</h3><!-- End .icon-box-title -->
                                    <p>every week</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-primary">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->

           
            <div class="container">
            </div><!-- End .container -->

            <div class="mb-4"></div><!-- End .mb-4 -->

            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg mb-2">Top Best Selling Products</h2><!-- End .title-lg text-center -->
                </div><!-- End .heading -->

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                        <div class="products just-action-icons-sm">
                            <div class="row">
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-5.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            
                                            <div class="product-action-vertical">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            
                                            <h3 class="product-title"><a>ASICS Tiger Gel-Lyte MT</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">Now 77.99</span>
                                                <span class="old-price">130.00</span>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                        <div class="product-footer">
                                        
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <span class="product-label label-primary">New</span>
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-6.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Eric Michael Sandra</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                42.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                        
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-7.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Jessica Simpson Blayke</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                20.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-8.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Native Shoes Miles Denim Print</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                20.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-9.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >The North Face Raedonda Boot Sneaker</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                97.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                        
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-10.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Native Shoes Miles Denim Print</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                57.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-11.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Splendid Roselyn II</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                97.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-12.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Marc Jacobs Somewhere Sport Sandal</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                 125.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-3 text-center">
                                        <figure class="product-media">
                                            <span class="product-label label-primary">New</span>
                                            <a >
                                                <img th:src="@{fontend/images/demos/demo-10/products/product-13.jpg}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a >Crocs Crocband Clog</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                25.75
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->

                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->

                                
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->

                <div class="more-container text-center mt-5">
                    <a th:href="@{/home/products}" class="btn btn-outline-lightgray btn-more btn-round"><span>View more products</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb5 -->
        </main><!-- End .main -->
		
		<footer th:replace="layout/fragments/footer :: footer"></footer>
        </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div th:replace="layout/fragments/mobilemenu :: mobilemenu"></div>
    <div th:replace="layout/fragments/script :: script"></div>
</body>

</html>